.p-contents-summary {
  position: absolute;
  bottom: 4%; left: 2%;
  z-index: 100;
  mix-blend-mode: luminosity;
  &__head {
    line-height: 1;
    margin: 0;
    @include flexFontSize(6);
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
  }
  &__text {
    line-height: 1.75;
    margin: 1em 0;
    @include flexFontSize(1.2);
    letter-spacing: 1px;
  }
  &__link-source {
    display: flex;
    margin: 0;
    @include flexFontSize(1);
    letter-spacing: 1px;
    a {
      display: block;
      position: relative;
      &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        top: 0; right: 0; bottom: 0; left: 0;
        background-color: rgba(255, 0, 0, 0.5);
      }
    }
  }
  &__link-separate {
    display: block;
    margin: 0 1em;
  }
  //
  // Init Interaction
  //
  &__link-source {
    a {
      transition-duration: 0.3s;
      transition-timing-function: $easeOutQuad;
      &:after {
        transform: scale(0, 1);
        transform-origin: left center;
        transition-duration: 0.3s;
        transition-timing-function: $easeOutQuad;
      }
    }
  }
  //
  // Running Interaction
  //
  &__link-source {
    a {
      &:hover {
        color: #fff;
        &:after {
          transform: scale(1, 1);
        }
      }
    }
  }
}
